beautifulsoup4==4.14.2
colorama==0.4.6
kraken==6.0.0
lxml==6.0.1
matplotlib==3.10.6
numpy==2.0.0
Pillow==11.3.0
PySide6==6.9.3
PySide6_Addons==6.9.3
PySide6_Essentials==6.9.3
pyqt-toast-notification==1.3.3
pytest==8.4.2
rtree==1.4.1
saxonche==12.9.0
Shapely==2.0.6
tqdm==4.67.1
u-msgpack-python==2.8.0
xmlschema==4.2.0
